.btnc{
    background-color: #5fcac7 ;
    border-radius: 20px;



}
.fh{
    font-size: 450%;
    
}
.fp{
    font-size: 250%;
}

.btnc2{
    border-radius: 30px;
    font-size: x-large;
    font-weight: bolder;
}

.border{
    border-radius: 15px;
    
}

.bg2{
    background-image: url(image/backgrouand2.jpg);
    
}
.ho{
    font-size: 400%;
    color: #4b4342;
}
.bg3{
    background-image: url(image/backgrouand3);
    background-color: black !important;
    background-color: #eeeeee !important;
    background-size: cover;
       background: 
        linear-gradient(rgba(109, 209, 202, 0.82), rgba(109, 209, 202, 0.916)),
        url('image/backgrouand3');
        background-size: auto;
}
.fw{
      font-size: 60px;
    padding-top: 30px;
}
.fo{
    font-size: 60px;
    color: #ff91a4;;
}




.btnc3{
       border-radius: 30px;
   
   
}

.br{
    border-radius: 50px;
    
}
.br2{
    border-radius: 50%;
    margin-bottom: 100px;
}
.bg5{
    background-image: url(image/bg5.jpg);
    background-size: cover;
    
}
.bg6{
    background-image: url(image/bg6.jpg);
    background-size: cover;
}




@media screen and (max-width:767px) {
    .fh{
        font-size: larger;
    }
    .fp{
        font-size: 10px;
        padding-right: 15px;
        
    }
    .btnc2{
        font-size: large;
    }
    
    .ho{
        font-size: 200%;
    }
    
}
